*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  bottom: 0;
  text-align: center;
  padding-bottom: 10px;
  color: purple;
}

header nav {
  background-color: green;
}

.rainCheckBody {
  position: absolute;
}

form {
  position: fixed !important;
  right: 0;
  margin-right: 60px;
}

form button {
  color: red !important;
}